pre {
  font-family: $font-family__code;
  @include font-size($font-size__pre);
  background: $color__black;
  color: $color__white;

  text-align: initial;
  max-width: 100%;
  padding: 1em 1.5em;
  margin-bottom: 1.725em;
  overflow: auto;
  word-wrap: normal;

  .highlight & {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
    color: initial;
  }
}

code,
kbd,
tt,
var {
  font-family: $font-family__code;
}

.entry-content {
  .highlight {
    margin-bottom: 1.725em;

    & > div,
    & > pre {
      padding: 1em 1.5em;
    }
  }
}
