.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  line-height: $line-height--heading;
  color: $color--text-heading;

  margin: 0 0 .625em;
}

.entry-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }
  }
}

.site-title,
h1 {
  @include font-size($font-size--h1);
}

h2 {
  @include font-size($font-size--h2);
}

h3 {
  @include font-size($font-size--h3);
}

.list-title,
h4 {
  @include font-size($font-size--h4);
}

h5 {
  @include font-size($font-size--h5);
}

h6 {
  @include font-size($font-size--h6);
}

.list-item-title,
.entry-title,
.site-title {
  margin-bottom: 0;
}
