@import "placeholder-selectors";

.site {
  @extend %flexContainer;
}

.header-container {
  @extend %flexContainer;

  padding: 0 1.5em;
  margin-top: 2em;
}

.single-header,
.site-header {
  @extend %widthLimit;
  @extend %seperatorAfter;
  @extend %flexContainer;

  align-items: flex-start;
}

.single-info,
.site-info {
  margin-top: 1.5em;
}

.page {
  .site-header {
    &:after {
      display: none;
    }
  }

  .site-info {
    display: none;
  }
}

.main {
  @extend %flexContainer;

  padding: 0 1.5em;
}

.single {
  @extend %flexContainer;

  &-content,
  &-footer {
    @extend %widthLimit;
  }

  &-footer {
    margin-top: 1.5em;
  }

  &-nav {
    @extend %flexContainer;

    &-links {
      @extend %widthLimit;
      @extend %seperatorBefore;
      @extend %flexContainer;

      align-items: flex-start;
    }
  }
}

.comments-container {
  @extend %flexContainer;

  #disqus_thread {
    @extend %widthLimit;
    @extend %seperatorBefore;
    @extend %flexContainer;

    align-items: flex-start;

    &:before {
      border-bottom-color: $color--grey;
    }
  }
}

.list-container {
  @extend %widthLimit;
}

.footer-container {
  @extend %flexContainer;

  padding: 0 1.5em;
}

.footer {
  @extend %widthLimit;
  @extend %seperatorBefore;
  @extend %flexContainer;

  align-items: flex-start;

  & > div {
    width: 100%;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }
}

%svgIcon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icon {
  @extend %svgIcon;

  stroke: currentColor;
  fill: none;

  position: relative;
  top: .1111111111111111em;
}
