@import "placeholder-selectors";

.site {
  @extend %flexColumnContainer;
  align-items: center;

  width: 100%;
}

.header-container {
  @extend %flexRowContainer;

  margin-top: 2em;
}

.single-header,
.site-header {
  @extend %flexChild;
  @extend %flexColumnContainer;
  @extend %seperatorAfter;
}

.single-info,
.site-info {
  margin-top: 1.5em;
}

.page {
  .site-header {
    &:after {
      display: none;
    }
  }

  .site-info {
    display: none;
  }
}

.main {
  @extend %flexRowContainer;
}

.single {
  @extend %flexColumnContainer;
  align-items: center;
  max-width: 100%;
  width: 100%;

  &-content,
  &-footer {
    @extend %flexChild;
  }
}

.list-container {
  @extend %flexChild;
}

.footer-container {
  @extend %flexRowContainer;
}

.footer {
  @extend %flexChild;
  @extend %flexColumnContainer;
  @extend %seperatorBefore;

  & > div {
    width: 100%;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }
}

%svgIcon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icon {
  @extend %svgIcon;
  stroke: currentColor;
  fill: none;

  position: relative;
  top: .1111111111111111em;
}

.social-icon {
  @extend %svgIcon;
  fill: currentColor;
}
