%pseudoSeperator {
  content: '';
  display: block;
  border-bottom: .1111111111111111em solid $color--accent;
  width: 4em;
}

%seperatorAfter {
  &:after {
    @extend %pseudoSeperator;
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
}

%seperatorBefore {
  &:before {
    @extend %pseudoSeperator;
    margin-top: 2.5em;
    margin-bottom: 2em;
  }
}

%flexContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

%widthLimit {
  width: 100%;
  max-width: $max-width;
}
