{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}
{{- $showTitle := ( $config.showTitle | default true ) -}}

<section class='widget widget-recent_posts sep-after'>
  {{- if eq $showTitle true -}}
    <header>
      <h4 class='title widget-title'>
        {{- $config.title | default ( i18n "recentPosts" ) -}}
      </h4>
    </header>
  {{- end -}}

  <ul class='list'>
  {{ range ( first $length ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
</section>
