<section class='widget widget-tags sep-after'>
  <header>
    <h4 class='title'>
      {{- ( ( i18n "tag" 2 ) | default .Title ) | title -}}
    </h4>
  </header>

  <div class='term-cloud'>
    <ul class='list {{- if .Site.Params.settings.noTermCloudShuffle }} no-shuffle{{- end -}}'>
    {{ range $term, $_ := .Site.Taxonomies.tags }}
      <li>
        <a href='{{ ( print ( trim $.Site.BaseURL "/" ) $.LanguagePrefix "/tags/" ( $term | urlize ) ) | relURL }}'>
        {{- with $.Site.GetPage "taxonomyTerm" "tags" $term -}}
          {{- .Title -}}
        {{- else -}}
          {{- $term -}}
        {{- end -}}
        </a>
      </li>
    {{ end }}
    </ul>
  </div>
</section>
