{{- $widgetsConfig := ( $.Scratch.Get "widgetsConfig" ) -}}
{{- $config := $widgetsConfig.taxonomyTerms -}}

{{- $taxonomyData := ( .Site.GetPage "taxonomy" $config.taxonomy ).Data -}}
{{- $taxonomySingular := $taxonomyData.Singular -}}

<section class='widget widget-taxonomy_terms sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- ( $config.title | default ( i18n $taxonomySingular 2 ) ) -}}
    </h4>
  </header>

  <div class='terms-cloud'>
    {{ partial "extras/terms_cloud" ( dict "Taxonomy" $config.taxonomy "Shuffle" $config.shuffle "Scope" . ) }}
  </div>
</section>
