{{- define "hreflang_x" -}}
  <link rel='alternate' hreflang='{{ .Lang }}' href='{{ .Permalink }}'>
{{- end -}}

{{- define "hreflang_x_default" -}}
  {{- if eq .Lang ( index .Site.Languages 0 ).Lang -}}
    <link rel='alternate' hreflang='x-default' href='{{ .Permalink }}'>
  {{- end -}}
{{- end -}}

{{- if .IsTranslated -}}

{{- template "hreflang_x" . -}}
{{- template "hreflang_x_default" . -}}
{{- range .Translations -}}
  {{- template "hreflang_x" . -}}
  {{- template "hreflang_x_default" . -}}
{{- end -}}

{{- end -}}
