button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  padding: 0.625em 0.875em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color__text-button;
  background: $color__background-button;
  transition: 0.1s ease-in-out;

  &:focus {
    outline-color: $color__accent;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover {
    background: $color__text-button;
    color: $color__background-button;
  }
}

label {
  font-weight: 700;
  letter-spacing: 1px;
}
