.main-menu {
  .container {
    display: flex;

    margin-top: 2em;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 0.625em;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    &.current {
      font-weight: 700;
      pointer-events: none;
    }
  }
}
