.menu {
  ul {
    list-style: none;
    margin: 0;
  }

  li {
    text-transform: uppercase;

    /*apply only to direct children, otherwise any nested child-node will be "current"*/
    &.current {
     > a {
        font-weight: 700;
      }

      /*styles for nested menu*/
      ul li{
        &:after{
          content:"–";
          font-weight: 700;
        }
      }
    }
  }
}

@import 'main';

.menu a,
.sidebar-toggler span,
.widget-social_menu a {
  color: $color__bluegrey-700;

  &:focus,
  &:hover {
    color: $color__bluegrey-900;
  }
}
