/* center */
.center-align {
  text-align: center;

  & > blockquote {
    display: inline-block;
  }

  & > ol,
  & > ul {
    display: inline-block;
    text-align: initial;
  }

  li {
    word-wrap: normal;
  }
}

/* text */
.shortcode-text {
  & > * {
    font-size: 1em;
  }
}
