{{ partial "header" . }}

<main class='main'>
  <section class='list-container'>
    <h1 class='list-title title'>
      {{- if eq .Kind "taxonomy" -}}
        <span class='taxonomy-type'>
          {{- ( ( i18n .Data.Singular 1 ) | default .Data.Singular ) | title -}}
          {{- print ": " -}}
        </span>
      {{- end -}}
      {{- .Title -}}
    </h1>
    <div class='list'>
      {{ range .Paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}
    </div>

    {{ partial "nav/pagination" . }}
  </section>
</main>

{{ partial "footer" . }}
