.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden !important;
  position: fixed !important;
  white-space: nowrap !important;
  word-wrap: normal !important;

  &:focus {
    clip: auto !important;
    width: auto;
    height: auto;
    display: block !important;
    top: 0.5em;
    left: 0.5em;
    font-weight: 700 !important;
    line-height: normal !important;
    text-decoration: none !important;
    border-radius: 0.25em !important;
    padding: 1em !important;
    color: $color__text-screen !important;
    background-color: $color__background-screen !important;
    z-index: 99999;
  }
}
