@import 'variables/variables';

@import 'mixins/mixins';

/* deprecated page message style */

.deprecated 
{ 
    color:#455a64; 
    margin-top:1em; 
    padding:1em;
    background-color: transparent;
    border: 1px solid black;
    background-image: url('/images/alert-triangle.svg');
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 2em;
    border-radius: 0.25em;
}
.deprecated_title
{
    color: #37474f;
}