{{ if gt ( len ( where .Site.RegularPages "Section" .Section ) ) 1 }}
<nav class='entry-nav'>
  <div class='entry-nav-links'>

    {{- if .PrevInSection -}}
    <div class='prev-entry'>
      <a href='{{ .PrevInSection.Permalink }}'>
        <span aria-hidden='true'>
          {{- partial "svg/icons.html" "prev" -}}
          Previous
        </span>
        <span class='screen-reader'>Previous post: </span>
        {{- .PrevInSection.Title -}}
      </a>
    </div>
    {{- end -}}

    {{- if .NextInSection -}}
    <div class='next-entry'>
      <a href='{{ .NextInSection.Permalink }}'>
        <span class='screen-reader'>Next post: </span>
        {{- .NextInSection.Title -}}
        <span aria-hidden='true'>
          Next
          {{- partial "svg/icons.html" "next" -}}
        </span>
      </a>
    </div>
    {{- end -}}

  </div>
</nav>
{{ end }}
