<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{ partial "head/head" . }}

<body class='{{ partial "header/bodyClasses" . }}'>
  <div class='site container'>

    <a class='screen-reader-text' href='#main'>{{ i18n "skipToContent" }}</a>

    {{ partial "nav/menus/main" . }}

    <header id='header' class='header site-header container'>
      <div class='wrapper sep-after'>
        <div class='header-info'>
          {{- if eq .Kind "home" -}}
            <h1 class='site-title title'>{{ .Site.Title }}</h1>
          {{- else -}}
            <p class='site-title title'>{{ .Site.Title }}</p>
          {{- end -}}
          <p class='site-description subtitle'>{{ .Site.Params.info.description }}</p>
        </div>
      </div>
    </header>

    <main id='main' class='main container'>
