<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{ partial "head/head" . }}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    {{ partial "sidebar/sidebar" . }}

    <div class='main'>

      {{ partial "nav/menus/main" . }}

      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h1 class='site-title title'>{{ .Site.Title }}</h1>
            {{- else -}}
              {{- if not .Site.Params.settings.enableBreadcrumbs -}}
                <p class='site-title title'><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
              {{- else -}}
                {{ partial "breadcrumbs.html" (dict "page" . "value" .Title) }}
              {{- end -}}
            {{- end -}}
            <p class='desc site-desc'>{{ .Site.Params.info.description }}</p>
          </div>
        </div>
      </header>

      <main id='content'>
