{{ partial "header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/cover" . }}
  {{ partial "entry/content" . }}
</div>
{{ end }}

{{- $widgetsConfig := ( $.Scratch.Get "widgetsConfig" ) -}}
{{ if $widgetsConfig.homepage }}
<div class='home-widgets'>
  <div class='container sep-before'>
    {{- with $widgetsConfig.homepage -}}
      {{- range . -}}
        {{- partial ( print "widgets/" . ) $ -}}
      {{- end -}}
    {{- end -}}
  </div>
</div>
{{ end }}

{{ partial "footer" . }}
