{{- $scriptSrc := "https://utteranc.es/client.js" -}}

{{- $issueTerm := .Page.Site.Params.comments.utterances.issueTerm -}}
{{- $issueLabel := .Page.Site.Params.comments.utterances.issueLabel -}}
{{- $username := .Page.Site.Params.comments.utterances.github.username -}}
{{- $repository := .Page.Site.Params.comments.utterances.github.repository -}}

<script src='{{ $scriptSrc }}'
  repo='{{ print $username "/" $repository }}'
  issue-term='{{ $issueTerm }}'
  {{- if $issueLabel -}}
    label='{{ $issueLabel }}'
  {{- end -}}
  crossorigin='anonymous' async>
</script>
