{{- $lang := ( $.Params.lang | default $.Lang ) -}}

{{ partial "header" . }}

{{ partial "header/header" . }}

<div class='list container'>
  <ul class='wrapper'>
  {{ range .Data.Terms.Alphabetical }}
    {{- $author := ( index $.Site.Data.authors .Name ) -}}
    {{- $data := ( or ( index $author $lang ) $author ) -}}
    {{- $name := $data.name -}}
    <li class='list-item'>
      <h2 class='list-item-title'>
        {{- partial "svg/icons" "author" -}}
        <a href='{{ ( print ( trim $.Site.BaseURL "/" ) $.LanguagePrefix "/authors/" ( .Name | urlize ) ) | relURL }}'>
          {{- $name.display -}}
        </a>
      </h2>
    </li>
    {{ end }}
  </ul>
</div>

{{ partial "footer" . }}
