{{- $lang := ( $.Params.lang | default $.Lang ) -}}

{{ partial "header" . }}

{{ partial "header/header" . }}

<div class='container list-container'>
  <ul class='list'>
  {{ range .Data.Terms.Alphabetical }}
    {{- $author := ( index $.Site.Data.authors .Name ) -}}
    {{- $data := ( or ( index $author $lang ) $author ) -}}
    {{- $name := $data.name -}}
    <li class='item'>
      <h2 class='item-title'>
        {{- partial "svg/icons" "author" -}}
        <a href='{{ ( print "authors" "/" ( .Name | urlize ) ) | relLangURL }}'>
          {{- $name.display -}}
        </a>
      </h2>
    </li>
    {{ end }}
  </ul>
</div>

{{ partial "footer" . }}
