.entry-nav-container {
  @extend %flexContainer;
}

.entry-nav {
  @extend %widthLimit;
  @extend %seperatorBefore;

  &:before {
    border-bottom-color: $color__grey;
  }

  & > div {
    a {
      display: block;
      font-style: italic;
    }

    span {
      display: block;
      font-style: normal;
      @include font-size(0.875);
    }
  }
}

.prev-entry ~ .next-entry {
  @extend %seperatorBefore;

  &:before {
    border-bottom-color: $color__grey;
    width: 2em;
    margin: 1em 0;
  }
}
