$hamburger-padding-x: 0.5em;
$hamburger-padding-y: 0.5em;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $color__bluegrey-900;
$hamburger-layer-border-radius: 4px;
$hamburger-hover-opacity: 1;
$hamburger-hover-transition-duration: $transition-duration;
$hamburger-hover-transition-timing-function: linear;

$hamburger-types: (arrow) !default;

@import 'hamburgers.scss';

.hamburger {
  opacity: 0.75;
}
