a {
  color: $color--link;
  transition: color .2s ease-in-out, border .2s ease-in-out;
  text-decoration: none;

  &:visited {
    color: $color--link-visited;
  }

  &:focus {
    outline: thin dotted $color--black;
    outline-offset: 2px;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover {
    color: $color--link-hover;

    .entry-content & {
      border-bottom-color: $color--accent;
    }
  }

  .main-menu &,
  .social-menu & {
    color: $color--link-faded;

    &:hover {
      color: $color--text-heading;
    }
  }

  .entry-content & {
    border-bottom: .1111111111111111em dashed $color--grey;
  }

  .footer & {
    font-style: italic;
  }

  &.footnote-return {
    border-bottom: none;
  }
}
