.row {
  display: flex;
  width: 100%;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.col {
  flex: 1;
}

.col-1 {
  @extend .col;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}
