.header {
  .sep-after {
    &:after {
      border-bottom-color: $color__accent;
      .hasCover & {
        display: none;
      }
    }
  }
}

.site-header {
  display: none;

  @at-root .home &, .error404 & {
    display: flex;
  }
}

.header-info {
  margin-top: 1.5em;

  .title {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .subtitle {
    margin: 0.5em 0 0;
    font-style: italic;
  }

  .taxonomy-type {
    @include font-size(0.875);
    margin-right: 0.25em;
    font-style: italic;
  }
}
