@import 'grid';

html,
body,
.site,
.main,
.sidebar {
  height: 100%;
}

.main,
.sidebar {
  .sidebar-sticky & {
    overflow: auto;
  }
}

.main {
  .has-sidebar & {
    padding: 0 $container__gutter*2;
  }
}

.sidebar {
  padding: 0 $container__gutter;
}

.container {
  width: 100%;
  max-width: $container__max-width;
  padding: 0 $container__gutter;
  margin: 0 auto;

  .has-sidebar & {
    margin-left: 0;
    margin-right: 0;
  }
}

.sep {
  &-after:after,
  &-before:before {
    display: block;
    content: '';
    border-bottom: 0.125em solid $color__grey;
    width: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}

@import 'header';

@import 'entry/entry';

@import 'lists';

@import 'footer';

@import 'others/others';

@import 'widgets/widgets';
