.list {
  margin: 0 auto;
  list-style: none;

  @at-root .entry + & {
    margin-top: 2.5em;
  }

  & .item {
    margin-top: 1em;

    &:first-of-type {
      margin-top: 0;
    }

    .meta {
      flex: 0 0 6em;

      span {
        @include font-size(0.875);
      }
    }

    &-title {
      @include font-size(1);
      font-weight: 400;
      margin-bottom: 0;
      line-height: inherit;
    }

    .icon {
      margin-right: 0.25em;
    }
  }
}

/* Term Cloud */
.term-cloud {
  .list {
    .entry + & {
      margin-top: 2.5em;
    }
  }

  li {
    display: inline-block;
    padding: 0 1.5em 0.5em 0;
  }
}
