.list {
  ul {
    display: flex;
    flex-flow: column nowrap;

    margin: 0;
    list-style: none;

    @at-root .entry + & {
      margin-top: 2.5em;
    }

    .home-section & {
      padding: 0;
    }
  }
}

.list-item {
  margin-top: 1em;

  &:first-of-type {
    margin-top: 0;
  }

  article {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  .meta {
    flex-basis: 6em;
    flex-shrink: 0;

    span {
      @include font-size(0.875);
    }
  }

  .list-item-title {
    @include font-size(1);
    font-weight: 400;
    margin-bottom: 0;
  }

  .icon {
    margin-right: 0.25em;
  }
}

/* Term Cloud */
.term-cloud {
  ul {
    list-style: none;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .entry + & {
      margin-top: 2.5em;
    }
  }

  li {
    padding: 0 1.5em 0.5em 0;
  }
}
