<!-- graphviz rendering -->
{{ if  .Params.viz}}
    <script type="text/javascript" src="/assets/js/viz-lite.js"> </script>
    <script type="text/javascript">
    (function(){
        var vizPrefix = "language-viz-";
        Array.prototype.forEach.call(document.querySelectorAll("[class^=" + vizPrefix + "]"), function(x){
            x.style.display = 'none'
            x.parentNode.style.backgroundColor = "transparent"

            var engine;
            x.getAttribute("class").split(" ").forEach(function(cls){
                if (cls.startsWith(vizPrefix)) {
                    engine = cls.substr(vizPrefix.length);
                }
            });
            var image = new DOMParser().parseFromString(Viz(x.innerText, {format:"svg", engine:engine}), "image/svg+xml");
            var imageElement =  image.documentElement;
            imageElement.style.width = "100%";
            x.parentNode.insertBefore(imageElement, x);
        });
    })();
    </script>
{{ end }}


<!-- waveforms rendering -->
{{ if .Params.wave }}
    <!-- getting waveform generation scripts -->
    <script src="/assets/js/narrow.js" type="text/javascript"></script>
    <script src="/assets/js/WaveDrom.js" type="text/javascript"></script>

    <script type="text/javascript">
        var wavePrefix = "language-wave";
        
        var index = 0;
        Array.prototype.forEach.call(document.querySelectorAll("[class^=" + wavePrefix + "]"), function(x){
            x.style.display = 'none'
            x.parentNode.style.backgroundColor = "transparent"
            jsonContent = x.innerText;

            node0 = document.createElement('div');
            node0.id = 'WaveDrom_Display_' + index;
            source = JSON.parse(jsonContent);
            x.parentNode.insertBefore(node0, x);

            WaveDrom.RenderWaveForm (index,source,"WaveDrom_Display_");
            index +=1;
        });
    </script>
{{ end }}

<!-- chart.js rendering -->
{{ if .Params.chart }}
    <script src="/assets/js/Chart.js" type="text/javascript"></script>
    <script type="text/javascript">
        var chartPrefix = "language-chart";
            // setting defaults
            var borderColor = "#444";
            var bgColor = "#eee";
            var borderWidth = 2;

            Chart.defaults.global.elements.rectangle.borderWidth = borderWidth;
            Chart.defaults.global.elements.rectangle.borderColor = borderColor;
            Chart.defaults.global.elements.rectangle.backgroundColor = bgColor;

            Chart.defaults.global.elements.line.borderWidth = borderWidth;
            Chart.defaults.global.elements.line.borderColor = borderColor;
            Chart.defaults.global.elements.line.backgroundColor = bgColor;

            Chart.defaults.global.elements.point.borderWidth = borderWidth;
            Chart.defaults.global.elements.point.borderColor = borderColor;
            Chart.defaults.global.elements.point.backgroundColor = bgColor;

        var index = 0;
        Array.prototype.forEach.call(document.querySelectorAll("[class^=" + chartPrefix + "]"), function(x){
            x.style.display = 'none'
            x.parentNode.style.backgroundColor = "transparent"
            jsonContent = x.innerText;

            node0 = document.createElement('canvas');
            node0.height = 200;
            node0.style.height=200;
            node0.id = 'myChart' + index;
            source = JSON.parse(jsonContent);
            x.parentNode.insertBefore(node0, x);
            var ctx = document.getElementById('myChart' + index).getContext('2d');


            var myChart = new Chart(ctx, source);

            index +=1;
        });
    </script>
{{ end }}


<!-- MSC rendering -->
{{ if .Params.msc }}
<script src="/assets/js/webfont.js"></script>
<script src="/assets/js/snap.svg-min.js"></script>
<script src="/assets/js/underscore-min.js"></script>
<script src="/assets/js/sequence-diagram-min.js"></script>

    <script type="text/javascript">
        var chartPrefix = "language-msc";

        var index = 0;
        Array.prototype.forEach.call(document.querySelectorAll("[class^=" + chartPrefix + "]"), function(x){
            x.style.display = 'none'
            x.parentNode.style.backgroundColor = "transparent"
            jsonContent = x.innerText;

            node0 = document.createElement('div');
            node0.id = 'msc' + index;
            x.parentNode.insertBefore(node0, x);

            var diagram = Diagram.parse(jsonContent);
            diagram.drawSVG("msc"+index, {theme: 'simple'});

            index +=1;
        });
    </script>
{{ end }}


<!-- Dlowcharts rendering -->
{{ if .Params.flowchart }}
<script src="/assets/js/raphael.min.js"></script>
<script src="/assets/js/flowchart-latest.js"></script>

    <script type="text/javascript">
        var flowchartPrefix = "language-flowchart";
        var index = 0;
        Array.prototype.forEach.call(document.querySelectorAll("[class^=" + flowchartPrefix + "]"), function(x){
            x.style.display = 'none'
            x.parentNode.style.backgroundColor = "transparent"
            jsonContent = x.innerText;

            node0 = document.createElement('div');
            node0.id = 'flowchart' + index;
            x.parentNode.insertBefore(node0, x);

            var diagram = flowchart.parse(jsonContent);
            diagram.drawSVG("flowchart"+index, {'line-width':2});

            index +=1;
        });
    </script>
{{ end }}

