{{- $txs := ( $.Scratch.Get "taxonomy" ) -}}
{{- $tx := ( $txs | singularize ) -}}

<div class='{{ $txs }}'>
  <span class='taxonomyTerm-icon'>
    {{- partial "svg/icons" $tx -}}
  </span>
  <span class='screen-reader'>{{ ( ( i18n $tx 2 ) | default $txs ) | title }}: </span>
  {{- range $i, $term := ( index $.Params $txs ) -}}
  {{- if gt $i 0 }}, {{ end -}}
  <a class='{{ $tx }}' href='{{ $.LanguagePrefix }}/{{ $txs }}/{{ $term | urlize }}'>
    {{- with $.Site.GetPage "taxonomyTerm" $txs ( $term | urlize ) -}}
      {{- .Title -}}
    {{- else -}}
      {{- $term -}}
    {{- end -}}
  </a>
  {{- end -}}
</div>
