{{- $txs := ( $.Scratch.Get "taxonomy" ) -}}
{{- $tx := ( $txs | singularize ) -}}

<div class='{{ $txs }}'>
  {{- partial "svg/icons" $tx -}}
  <span class='screen-reader-text'>{{ ( ( i18n $tx 2 ) | default $txs ) }}: </span>
  {{- range $i, $term := ( index $.Params $txs ) -}}
    {{- with $.Site.GetPage ( print "/" $txs "/" $term ) -}}
      {{- if gt $i 0 }}, {{ end -}}
      <a class='{{ $tx }}' href='{{ .RelPermalink }}'>
        {{- .Title -}}
      </a>
    {{- end -}}
  {{- end -}}
</div>
